@if (Request.IsAuthenticated)
{
    <text>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="links">
            <a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
        </div>
    }
    <div class="links">
        Chào, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</div>
    </text>
}
else
{   
    <div class="links">@Html.ActionLink("Đăng kí", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</div>
    <div class="links">@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div> 
}
