@{
    ViewBag.Title = "Personal";
    Layout = "~/Views/Shared/LayoutDefault.cshtml";
}

<div class="title"><h2>Chào mừng bạn đến với ACB online</h2></div>
<div class="biglogin">Tài khoản cá nhân</div>
<div class="news">News</div>
