@{
    ViewBag.Title = "Home Page";
}

@section slider {
    <section id="slider" class="flexslider clear">
        <ul class="slides">
            <li>
                <img src="~/Images/Slider/1.gif" />
                <div class="flex-caption">
                    <p>Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque. Curabiturpisametur in ante.</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </div>
            </li>
            <li>
                <img src="~/Images/Slider/1.gif" />
                <div class="flex-caption">
                    <p>Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque. Curabiturpisametur in ante.</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </div>
            </li>
            <li>
                <img src="~/Images/Slider/1.gif" />
                <div class="flex-caption">
                    <p>Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque. Curabiturpisametur in ante.</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </div>
            </li>
        </ul>
    </section>
}
<!-- content body -->
<!-- ########################################################################################## -->
<!-- ########################################################################################## -->
<section id="services">
    <ul class="clear">
        <li>
            <article>
                <h2><a href="#">Vivamuslibero Augue 1</a></h2>
                <img src="~/Images/48x48.gif" />
                <p>Inteligula congue id elis donec sce sagittis intes id laoreet aenean  leo sem massawisi condisse leo sem ac tincidunt nibh quis dui.</p>
            </article>
        </li>
        <li>
            <article>
                <h2><a href="#">Vivamuslibero Augue 2</a></h2>
                <img src="~/Images/48x48.gif" />
                <p>Inteligula congue id elis donec sce sagittis intes id laoreet aenean  leo sem massawisi condisse leo sem ac tincidunt nibh quis dui.</p>
            </article>
        </li>
        <li>
            <article>
                <h2><a href="#">Vivamuslibero Augue 3</a></h2>
                <img src="~/Images/48x48.gif" />
                <p>Inteligula congue id elis donec sce sagittis intes id laoreet aenean  leo sem massawisi condisse leo sem ac tincidunt nibh quis dui.</p>
            </article>
        </li>
        <li>
            <article>
                <h2><a href="#">Vivamuslibero Augue 4</a></h2>
                <img src="~/Images/48x48.gif" />
                <p>Inteligula congue id elis donec sce sagittis intes id laoreet aenean  leo sem massawisi condisse leo sem ac tincidunt nibh quis dui.</p>
            </article>
        </li>
    </ul>
</section>
<!-- ########################################################################################## -->
<section id="featured_slide">
    <div class="scroll-pane">
        <ul class="scroll-content">
            <li><a href="#">
                <img src="~/Images/225x100.gif" width="225" height="100" alt=""></a></li>
            <li><a href="#">
                <img src="~/Images/225x100.gif" width="225" height="100" alt=""></a></li>
            <li><a href="#">
                <img src="~/Images/225x100.gif" width="225" height="100" alt=""></a></li>
            <li><a href="#">
                <img src="~/Images/225x100.gif" width="225" height="100" alt=""></a></li>
            <li><a href="#">
                <img src="~/Images/225x100.gif" width="225" height="100" alt=""></a></li>
            <li><a href="#">
                <img src="~/Images/225x100.gif" width="225" height="100" alt=""></a></li>
            <li><a href="#">
                <img src="~/Images/225x100.gif" width="225" height="100" alt=""></a></li>
            <li><a href="#">
                <img src="~/Images/225x100.gif" width="225" height="100" alt=""></a></li>
        </ul>
        <div class="scroll-bar-wrap">
            <div class="scroll-bar"></div>
        </div>
    </div>
</section>
<!-- ########################################################################################## -->
<!-- Info -->
<div id="info" class="clear">
    <section class="two_quarter">
        <article>
            <h2>Lorem ipsum dolor sit amet consectetur</h2>
            <img class="imgl" src="~/Images/185x185.gif" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem. Nullam non magna vel nisi posuere bibendum vitae sed dui.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem. Nullam non magna vel nisi posuere bibendum vitae sed dui. Nulla at lorem tortor, non rhoncus odio.</p>
            <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
    </section>
    <section class="two_quarter">
        <h2>Latest Project Work</h2>
        <ul>
            <li>
                <figure class="clear">
                    <img src="~/Images/110x110.gif" alt="">
                    <figcaption>
                        <h2><a href="#">Lorem ipsum dolor</a></h2>
                        <p>Sednulla nam nibh a nibh eu urna facinia mauristibulus sit urna. Vitaerisus lobortis proin elit et curabituris elit estibulum cursus iacus orci.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="clear">
                    <img src="~/Images/110x110.gif" alt="">
                    <figcaption>
                        <h2><a href="#">Lorem ipsum dolor</a></h2>
                        <p>Sednulla nam nibh a nibh eu urna facinia mauristibulus sit urna. Vitaerisus lobortis proin elit et curabituris elit estibulum cursus iacus orci.</p>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </section>
</div>
<!-- / Info -->
<!-- ########################################################################################## -->
<!-- ########################################################################################## -->
<!-- / content body -->
